<nb-card class="nb-card-modal " nbSpinnerStatus="primary" nbSpinnerSize="large" size="giant">
    <nb-card-header>
        Perguntas Formulário {{titulo}}
        <nb-button-group style="float:right" status="basic" size="small" filled>
            <button nbButton (click)="getDados(this.id)" nbPopover="Atualizar">
                <nb-icon icon="refresh-outline"></nb-icon>
            </button>
            <button type="button" nbButton status="danger" class="close float-end" (click)="close()" size="tiny">
                <nb-icon icon="close-outline"></nb-icon>
            </button>
        </nb-button-group>
    </nb-card-header>
    <nb-card-body>
        <angular2-smart-table [nbSpinner]="loading" [settings]="settings" [source]="source"
            (create)="showDialog(0,'POST')" (custom)="onOptions($event)"></angular2-smart-table>
    </nb-card-body>
</nb-card>