<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-10 mx-auto">
      <p class="text-center mb-3">
        <img src="/assets/images/logo-blue.png" width="250" />
      </p>
    </div>
    <div class="col-lg-5 col-md-10 mx-auto">
      <p class="sub-title">Informe suas credenciais de acesso</p>

      <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
        <p class="alert-title"><b>Ops!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let error of errors" class="alert-message">
            {{
            error == "Token is empty or invalid."
            ? "Dados de acesso inválidos"
            : "Token is empty or invalid."
            }}
          </li>
        </ul>
      </nb-alert>

      <nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
        <p class="alert-title"><b>Oba!</b></p>
        <ul class="alert-message-list">
          <li *ngFor="let message of messages" class="alert-message">
            {{ message }}
          </li>
        </ul>
      </nb-alert>

      <form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
        <div class="form-group">
          <label class="label" for="input-email">Usuário:</label>
          <input nbInput fullWidth [(ngModel)]="user.email" #email="ngModel" name="email" id="input-email"
            placeholder="Seu usuário" autofocus pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" [status]="
              email.dirty ? (email.invalid ? 'danger' : 'success') : 'basic'
            " [required]="true" minlength="4" maxlength="50" [attr.aria-invalid]="
              email.invalid && email.touched ? true : null
            " />
          <ng-container *ngIf="email.invalid && email.touched">
            <p class="caption status-danger">Campo usuário obrigatório!</p>
            <p class="caption status-danger">
              Informe um usuário de 4 até 50 caracteres.
            </p>
          </ng-container>
        </div>

        <div class="form-group">
          <label class="label" for="input-senha">Senha:</label>
          <input nbInput fullWidth [(ngModel)]="user.senha" #senha="ngModel" name="senha" type="senha" id="input-senha"
            placeholder="Sua senha" [status]="
              senha.dirty ? (senha.invalid ? 'danger' : 'success') : 'basic'
            " [required]="getConfigValue('forms.validation.senha.required')"
            [minlength]="getConfigValue('forms.validation.senha.minLength')"
            [maxlength]="getConfigValue('forms.validation.senha.maxLength')" [attr.aria-invalid]="
              senha.invalid && senha.touched ? true : null
            " />
          <ng-container *ngIf="senha.invalid && senha.touched">
            <p class="caption status-danger">Campo senha obrigatório!</p>
            <p class="caption status-danger">
              Informe uma senha de
              {{ getConfigValue("forms.validation.senha.minLength") }} até
              {{ getConfigValue("forms.validation.senha.maxLength") }}
              caracteres.
            </p>
          </ng-container>
        </div>

        <div class="form-group accept-group d-flex justify-content-between ">
          <nb-checkbox name="rememberMe" [(ngModel)]="user.rememberMe" *ngIf="rememberMe">Lembrar-me</nb-checkbox>
          <a class="forgot-password ml-auto" routerLink="../request-password">Esqueceu a senha?</a>
        </div>

        <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
          Entrar
        </button>
      </form>
    </div>
  </div>
</div>