<p class="text-center mb-3">
  <img src="/assets/images/logo-blue.png" width="250">
</p>

<h1 id="title" class="title">Alterar a senha</h1>
<p class="sub-title">Por favor, defina uma nova senha</p>

<!-- Error Alert -->
<nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
  <p class="alert-title"><b>Oh snap!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
  </ul>
</nb-alert>

<!-- Success Alert -->
<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
  <p class="alert-title"><b>Hooray!</b></p>
  <ul class="alert-message-list">
    <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
  </ul>
</nb-alert>

<!-- Password Reset Form -->
<form (ngSubmit)="resetPass()" #resetPassForm="ngForm" aria-labelledby="title">

  <!-- New Password Field -->
  <div class="form-control-group">
    <label class="label" for="input-password">Nova Senha:</label>
    <input nbInput
    [(ngModel)]="user.senha"
    #password="ngModel"
    type="password"
    id="input-password"
    name="senha"
    class="first"
    placeholder="Nova Senha"
    autofocus
    fullWidth
    fieldSize="large"
    [status]="password.dirty ? (password.invalid ? 'danger' : 'success') : 'basic'"
    [required]="getConfigValue('forms.validation.password').required"
    [minlength]="getConfigValue('forms.validation.password').minLength"
    [maxlength]="getConfigValue('forms.validation.password').maxLength"
    [attr.aria-invalid]="password.invalid && password.touched ? true : null">

    <ng-container *ngIf="password.invalid && password.touched">
      <p class="caption status-danger" *ngIf="password.errors?.['required']">
        Senha requerida!
      </p>
      <p class="caption status-danger" *ngIf="password.errors?.['minlength'] || password.errors?.['maxlength']">
        A senha deve conter entre
        {{ getConfigValue('forms.validation.password')['minLength'] }} and
        {{ getConfigValue('forms.validation.password')['maxLength'] }} characters.
      </p>
    </ng-container>
    
  </div>

  <!-- Confirm Password Field -->
  <div class="form-group">
    <label class="label" for="input-re-password">Confirme sua senha:</label>
    <input nbInput
           [(ngModel)]="user.confirmaSenha"
           #rePass="ngModel"
           id="input-re-password"
           name="reSenha"
           type="password"
           class="last"
           placeholder="Confirme sua senha"
           fullWidth
           fieldSize="large"
           [status]="rePass.touched ? (rePass.invalid || !isPasswordConfirmed() ? 'danger' : 'success') : 'basic'"
           [required]="getConfigValue('forms.validation.password')['required']"
           [attr.aria-invalid]="rePass.invalid && rePass.touched ? true : null">
    <ng-container *ngIf="rePass.touched">
      <p class="caption status-danger" *ngIf="rePass.errors?.['required']">
        A confirmação da senha é necessária!
      </p>
      <p class="caption status-danger" *ngIf="rePass.invalid && !rePass.errors?.['required']">
        A senha não corresponde à senha de confirmação.
      </p>
    </ng-container>
  </div>
  

  <!-- Submit Button -->
  <button nbButton
          status="primary"
          fullWidth
          size="large"
          [disabled]="submitted || !resetPassForm.valid"
          [class.btn-pulse]="submitted">
          Alterar a senha
  </button>
</form>

<!-- Sign-in or Register Links -->
<section class="sign-in-or-up" aria-label="Sign in or sign up">
  <p><a class="text-link" routerLink="../login">Volte ao login</a></p>
</section>
