<form [formGroup]="formulario" (ngSubmit)="onSubmit()">
    <nb-card class="col-sm-12 nb-card-modal-sm" [nbSpinner]="loading">
        <nb-card-header>
            <div class="row">
                <div class="col">
                    Adicionar Pergunta
                </div>
                <div class="col-auto">
                    <button type="button" nbButton status="danger" class="close float-end" (click)="close()"
                        size="tiny">
                        <nb-icon icon="close-outline"></nb-icon>
                    </button>
                </div>
            </div>
        </nb-card-header>
        <nb-card-body>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <label class="label" for="label">Pergunta: <span class="text-danger">*</span></label>
                    <input nbInput fullWidth id="label" placeholder="Digite a pergunta completa"
                        [status]="!formulario.controls['label'].valid ? 'danger' : 'basic'" formControlName="label">
                </div>
                <div class="col-md-12 mb-3">
                    <label class="label" for="tipo">Tipo de resposta: <span class="text-danger">*</span></label>
                    <nb-select placeholder="Selecione um tipo" formControlName="tipo" fullWidth
                        [status]="!formulario.controls['tipo'].valid ? 'danger' : 'basic'">
                        <nb-option *ngFor="let item of items" (click)="tipo_selecionado()" [value]="item.value">{{
                            item.title }}</nb-option>
                    </nb-select>
                </div>
            </div>

            <div *ngIf="mostraroptions">
                <div class="col">
                    <label class="label" for="options">Opções: <span class="text-danger">*</span></label>
                    <nb-tag-list (tagRemove)="remove_option($event)">
                        <nb-tag *ngFor="let tree of trees" [text]="tree" removable></nb-tag>
                        <input class="w-100" type="text" nbTagInput (tagAdd)="add_option($event)" [(ngModel)]="options"
                            fullWidth [ngModelOptions]="{ standalone: true }">
                    </nb-tag-list>
                </div>
            </div>

        </nb-card-body>
        <nb-card-footer class="d-flex justify-content-end px-4">
            <button type="button" nbButton status="primary" size="large"
                [disabled]="!formulario.valid" (click)="onSubmit()">
                Salvar
            </button>
        </nb-card-footer>
    </nb-card>
</form>