<nb-card [nbSpinner]="loading">
    <nb-card-header>
        <div class="row">
            <div class="col">
                Remover
            </div>
            <div class="col-2">
                <button type="button" nbButton status="danger" class="close float-end" (click)="close()" size="tiny">
                    <nb-icon icon="close-outline"></nb-icon>
                </button>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body class="overflow-auto">
        <div class="row">
            <div class="col-12 mb-3">
                Deseja realmente excluir este registro?
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end px-4">
        <div class="mx-1">
            <button nbButton status="danger" (click)="close()">
                Fechar
            </button>
        </div>
        <div class="mx-1">
            <button nbButton status="primary" (click)="confirm()">
                Sim
            </button>
        </div>
    </nb-card-footer>
</nb-card>